input[name="1a"], input[name="2a"], input[name="3a"], input[name="4a"], input[name="5a"] {
	display: none;
}
input[name="2"], input[name="3"], input[name="4"], input[name="5"] {
	pointer-events: none;
}
#win-msg {
	visibility: hidden;
}
input[name="5a"].good:checked ~ #win-msg {
	visibility: visible;
}

.generate-click-logic(@i) when (@i > 0) {
	@n: @i + 1;
	input[name='@{i}'].good:checked, input[name='@{i}'].good:checked ~ input[name='@{i}a'] {
		display: inline;
	}
	input[name='@{i}'].good:checked ~ input[name='@{i}'] {
		display: none;
	}
	input[name='@{i}'].good:checked, input[name='@{i}a'].good:checked, input[name='@{i}a'].good:checked ~ input[name='@{i}a'] {
		pointer-events: none;
	}
	input[name='@{i}a'].good:checked ~ input[name='@{n}'] {
		pointer-events: inherit;
	}
	.generate-click-logic(@i - 1);
}
.generate-click-logic(5);
